#id_text {
	margin-top: 2ex;
}

.has-error {
	color: #9B111E;
}

.errorlist {
	list-style: none;
}

.jordi.jumbotron {
	margin-top: 1em;
	border-radius: 0px;
	background-color: #f8f9fa
}

.jordi.alert {
	border: none;
	border-radius: 0px;
}