* {
	border-radius: 0 !important;
}

#id_text {
	margin-top: 2ex;
}

.has-error {
	color: #9B111E;
}

.errorlist {
	list-style: none;
}

@media (min-width: 768px) {
	div.navbar-nav > *{
		padding-left: 1em;
		padding-right: 1em;
	}
}