<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>To-Do lists</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/base.css" rel="stylesheet">
	</head>
	
	<body>
		<div class="container-fluid">
			<div class="row justify-content-center">
				<nav class="navbar navbar-light bg-light justify-content-between col-lg-10 col-md-10">
					<a class="navbar-brand" href="/">Superlists</a>
					{% if user.email %}
						<ul class="navbar-nav">
							<li class="nav-item"><a href="{% url 'my_lists' user.email %}">My lists</a></li>
						</ul>
						<ul class="navbar-nav">
							<li class="nav-item">Logged in as {{ user.email }}</li>
							<li><a href="{% url 'logout' %}">Log out</a></li>
						</ul>
					{% else %}
						<form class="form-inline" method="POST" action="{% url 'send_login_email' %}">
							<input class="form-control mr-sm-2" placeholder="Email" name="email" type="text" />
							{% csrf_token %}
							<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
						</form>
					{% endif %}
				</nav>
			</div>
			
			<div class="row justify-content-center">
				<div class="jordi jumbotron col-lg-10 col-md-10">
					<div class="container text-center">
						<h1 class="display-3">{% block header_text %}{% endblock %}</h1>
						{% block list_form %}
						<form method="POST" action="{% block form_action %}{% endblock %}">
							{{ form.text }}
							{% csrf_token %}
							{% if form.errors %}
								<div class="has-error">{{ form.text.errors }}</div>
							{% endif %}
						</form>
						{% endblock %}
					</div>
				</div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-6">
					{% block table %}
					{% endblock %}
				</div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-6">
					{% block extra_content %}
					{% endblock %}
				</div>
			</div>
			
			{% if messages %}
				<div class="row justify-content-center">
					{% for message in messages %}
						{% if message.level_tag == 'success' %}
							<div class="jordi alert alert-success col-lg-10 col-md-10">{{ message }}</div>
						{% else %}
							<div class="jordi alert alert-warning col-lg-10 col-md-10">{{ message }}</div>
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}
		</div>
		<script src="/static/jquery-3.2.1.min.js"></script>
		<script src="/static/list.js"></script>
		<script>
			$(document).ready(function () {
				window.Superlists.initialize();
			});
		</script>
	</body>
</html>	