<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"></meta>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>To-Do lists</title>
		<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/static/base.css" rel="stylesheet">
	</head>
	
	<body>
		<div class="container">
			<nav class="navbar navbar-light bg-light justify-content-between">
				<a class="navbar-brand" href="/">Superlists</a>
				{% if user.email %}
					<ul class="navbar-nav">
						<li class="nav-item">Logged in as {{ user.email }}</li>
						<li><a href="{% url 'logout' %}">Log out</a></li>
					</ul>
				{% else %}
					<form class="form-inline" method="POST" action="{% url 'send_login_email' %}">
						<input class="form-control mr-sm-2" placeholder="Email" name="email" type="text" />
						{% csrf_token %}
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
					</form>
				{% endif %}
			</nav>
			
			{% if messages %}
				<div class="row">
					<div class="col-lg-8 col-md-8">
						{% for message in messages %}
							{% if message.level_tag == 'success' %}
								<div class="alert alert-success">{{ message }}</div>
							{% else %}
								<div class="alert alert-warning">{{ message }}</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endif %}
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-6 jumbotron">
					<div class="text-center">
						<h1>{% block header_text %}{% endblock %}</h1>
						<form method="POST" action="{% block form_action %}{% endblock %}">
							{{ form.text }}
							{% csrf_token %}
							{% if form.errors %}
								<div class="has-error">{{ form.text.errors }}</div>
							{% endif %}
						</form>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-6 col-md-6">
					{% block table %}
					{% endblock %}
				</div>
			</div>
		</div>
		<script src="/static/jquery-3.2.1.min.js"></script>
		<script src="/static/list.js"></script>
		<script>
			$(document).ready(function () {
				window.Superlists.initialize();
			});
		</script>
	</body>
</html>	